{% extends "common/layout_main.html" %}
{% block content %}
    {% include "common/tab_account.html" %}
    <div class="row m-t  wrap_account_set">
        <div class="col-lg-12">
            <h2 class="text-center">社区设置</h2>
            <div class="form-horizontal m-t m-b">
                <div class="form-group">
                    <label class="col-lg-2 control-label">名称:</label>
                    <div class="col-lg-10">
                        <input type="text" name="name" class="form-control" placeholder="请输入名称~~"
                               value="{{ info.name }}">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">省份:</label>
                    <div class="col-lg-10">
                        <input type="text" name="province" class="form-control" placeholder="请输入省份~~"
                               value="{{ info.province }}">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">城市:</label>
                    <div class="col-lg-10">
                        <input type="text" name="city" class="form-control" placeholder="请输入城市~~"
                               value="{{ info.city }}">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">简介:</label>
                    <div class="col-lg-10">
                        <input type="text" name="description" class="form-control" placeholder="请输入简介~~"
                               value="{{ info.description }}">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">自提点:</label>
                    <div class="col-lg-10">
                        <input type="text" name="pickups" class="form-control" placeholder="请输入自提点~~"
                               value="{{ info.pickups }}">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-lg-4 col-lg-offset-2">
                        <input type="hidden" name="id" value="{{ info.id }}">
                        <button class="btn btn-w-m btn-outline btn-primary save">保存</button>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label hide">平台ID:</label>
                    <div class="col-lg-10">
                        <input id="platform_id" type="text" name="platform_id" class="form-control hide"
                               value="{{ current_user.platform_id }}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label hide">平台名称:</label>
                    <div class="col-lg-10">
                        <input id="platform_name" type="text" name="platform_name" class="form-control hide"
                               value="{{ current_user.platform_name }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{{ buildStaticUrl('/js/community/set.js') }}"></script>
{% endblock %}
